{
  "openapi": "3.1.0",
  "info": {
    "title": "Asael native API",
    "version": "13",
    "description": "Generated current native contract. Domain behavior remains in the authoritative server services used by web and native clients."
  },
  "servers": [
    {
      "url": "https://asael.bennierichard.com"
    }
  ],
  "paths": {
    "/api/mobile/auth/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "Create a device-bound native session.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/auth/refresh": {
      "post": {
        "operationId": "auth.refresh",
        "summary": "Rotate a device-bound refresh credential.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeRefreshResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "Revoke the current native session.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeLogoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/bootstrap": {
      "get": {
        "operationId": "bootstrap.get",
        "summary": "Read the current scoped identity and compatibility policy.",
        "tags": [
          "bootstrap"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeBootstrapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/adoption": {
      "get": {
        "operationId": "adoption.get",
        "summary": "Read tenant-aggregate native adoption evidence.",
        "tags": [
          "adoption"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/contracts": {
      "get": {
        "operationId": "contracts.get",
        "summary": "Discover immutable native contract documents.",
        "tags": [
          "contracts"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeContractDiscovery"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/devices": {
      "get": {
        "operationId": "devices.list",
        "summary": "List the authenticated user's tenant-bound device sessions.",
        "tags": [
          "devices"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeDeviceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/devices/{id}": {
      "post": {
        "operationId": "devices.change",
        "summary": "Revoke or request remote wipe for one owned device session.",
        "tags": [
          "devices"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeDeviceLifecycleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeDeviceSession"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/wipe": {
      "get": {
        "operationId": "wipe.challenge",
        "summary": "Resolve a remote-wipe request using the revoked device access credential.",
        "tags": [
          "wipe"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeWipeChallengeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "wipe.acknowledge",
        "summary": "Acknowledge local erasure with a single-use wipe challenge.",
        "tags": [
          "wipe"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeWipeAcknowledgementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeWipeAcknowledgementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/today": {
      "get": {
        "operationId": "today.get",
        "summary": "Read the authoritative Today projection.",
        "tags": [
          "today"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "today.create",
        "summary": "Create a governed Today item.",
        "tags": [
          "today"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/today/{id}": {
      "patch": {
        "operationId": "today.update",
        "summary": "Update one authoritative Today item.",
        "tags": [
          "today"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/today/brief": {
      "post": {
        "operationId": "today.brief",
        "summary": "Generate or read the daily brief.",
        "tags": [
          "today"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent": {
      "post": {
        "operationId": "conversation.send",
        "summary": "Run the authoritative governed conversation service.",
        "tags": [
          "conversation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/NativeConversationEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/approvals": {
      "get": {
        "operationId": "approvals.list",
        "summary": "Read the governed approval queue.",
        "tags": [
          "approvals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/approvals/{id}": {
      "post": {
        "operationId": "approvals.decide",
        "summary": "Apply one governed approval decision.",
        "tags": [
          "approvals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "operationId": "workspaces.list",
        "summary": "Read canonical Workspace projections.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "workspaces.create",
        "summary": "Create a canonical Workspace.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}": {
      "get": {
        "operationId": "workspaces.get",
        "summary": "Read one canonical Workspace projection.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "workspaces.update",
        "summary": "Update one canonical Workspace.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/capture": {
      "post": {
        "operationId": "capture.create",
        "summary": "Submit content to the authoritative Capture service.",
        "tags": [
          "capture"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/meetings": {
      "get": {
        "operationId": "meetings.list",
        "summary": "Read actor-visible meeting projections.",
        "tags": [
          "meetings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/meetings/{id}": {
      "get": {
        "operationId": "meetings.get",
        "summary": "Read one actor-visible meeting projection.",
        "tags": [
          "meetings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications": {
      "get": {
        "operationId": "notifications.list",
        "summary": "Read actor-visible notifications.",
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "notifications.readAll",
        "summary": "Mark all actor-visible notifications read.",
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/{id}": {
      "patch": {
        "operationId": "notifications.acknowledge",
        "summary": "Acknowledge one actor-visible notification.",
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs/{id}": {
      "get": {
        "operationId": "evidence.run",
        "summary": "Read one actor-visible run and its evidence.",
        "tags": [
          "evidence"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "evidence.run.cancel",
        "summary": "Cancel one actor-visible run through its authoritative service.",
        "tags": [
          "evidence"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{id}": {
      "get": {
        "operationId": "evidence.workflow",
        "summary": "Read one actor-visible workflow and its evidence.",
        "tags": [
          "evidence"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/workspace-summary": {
      "get": {
        "operationId": "workspace.summary",
        "summary": "Read the authoritative cross-domain Workspace summary.",
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/evaluations": {
      "get": {
        "operationId": "evaluations.list",
        "summary": "Read actor-visible evaluation evidence.",
        "tags": [
          "evaluations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "operationId": "agents.list",
        "summary": "Read the authoritative Agent catalog.",
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/agents/performance": {
      "get": {
        "operationId": "agents.performance",
        "summary": "Read Agent performance evidence.",
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/skills": {
      "get": {
        "operationId": "skills.list",
        "summary": "Read actor-visible skills.",
        "tags": [
          "skills"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/memory": {
      "get": {
        "operationId": "memory.list",
        "summary": "Read actor-scoped memory, optionally limited to one exact owned thread.",
        "tags": [
          "memory"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/memory/graph": {
      "get": {
        "operationId": "memory.graph.get",
        "summary": "Read the actor-scoped memory graph.",
        "tags": [
          "memory"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/knowledge": {
      "get": {
        "operationId": "knowledge.list",
        "summary": "Read actor-visible indexed knowledge.",
        "tags": [
          "knowledge"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/missions": {
      "get": {
        "operationId": "missions.list",
        "summary": "Read actor-visible durable missions.",
        "tags": [
          "missions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/missions/{id}": {
      "get": {
        "operationId": "missions.get",
        "summary": "Read one actor-visible durable mission.",
        "tags": [
          "missions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/missions/{id}/events": {
      "get": {
        "operationId": "missions.events",
        "summary": "Read versioned mission events.",
        "tags": [
          "missions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}/plan": {
      "post": {
        "operationId": "workspaces.plan",
        "summary": "Plan one canonical Workspace.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}/tasks": {
      "post": {
        "operationId": "workspaces.tasks.create",
        "summary": "Create one canonical Workspace task.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}/tasks/{taskId}": {
      "patch": {
        "operationId": "workspaces.tasks.update",
        "summary": "Update one canonical Workspace task.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}/execution": {
      "post": {
        "operationId": "workspaces.execute",
        "summary": "Execute one canonical Workspace command.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}/artifacts/{artifactId}/feedback": {
      "post": {
        "operationId": "workspaces.artifacts.feedback",
        "summary": "Attach reviewed feedback to one Workspace artifact.",
        "tags": [
          "workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "artifactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows": {
      "get": {
        "operationId": "admin.workflows",
        "summary": "Read workflow administration state.",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/triggers": {
      "get": {
        "operationId": "admin.triggers",
        "summary": "Read workflow triggers.",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/operations": {
      "get": {
        "operationId": "admin.operations",
        "summary": "Read background operation state.",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/connection-catalog": {
      "get": {
        "operationId": "admin.connection.catalog",
        "summary": "Read the connection catalog.",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Bounded error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/connectors": {
      "get": {
        "operationId": "admin.connectors",
        "summary": "Read installed connectors.",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
[...]
